parameters:
    level: 5
    paths:
        - lib
    bootstrapFiles:
        - vendor/autoload.php
    # min: 8.3
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Property OCA\\CadViewer\\Controller\\ViewController::\$urlGenerator is never read, only written.#'
            path: lib/Controller/ViewController.php
