parameters:
    level: 5
    paths:
        - lib
    bootstrapFiles:
        - vendor/autoload.php
    # min: 80200
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Call to an undefined method OCP\\Files\\Node::fopen\(\).#'
            path: lib/Controller/FileController.php
        -
            message: '#Property OCA\\CadViewer\\Controller\\ViewController::\$urlGenerator is never read, only written.#'
            path: lib/Controller/ViewController.php
